<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Linst</title>
</head>
<body style="background-color:  #80ced6;">
    <table class="table">

        <tbody >
            {%for cada in produto %}
            <tr>
                <th scope="row"></th>
                <td><img src="{{ cada.imagem.url }}" alt="{{ cada.nome_produto }}" /></td>
                <td>{{ cada.nome_produto }}</td>
                <td>{{ cada.descricao }}</td>
                <td>{{ cada.email }}</td>
                
                <td><button type="button" class="btn btn-danger" >Excluir</button></td>
            </tr>
            {%endfor%}

        </tbody>
        
      </table>

</body>
</html>