<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <h1>Carrinho de Compras</h1>

    {% if produtos_no_carrinho %}
        <ul>
            {% for produto in produtos_no_carrinho %}
                <li>        
                    
                    <h3>{{ produto.nome_produto }}</h3>
                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}" />
                {% else %}
                    <p>Imagem não disponível</p>
                {% endif %}
                    <p>{{ produto.descricao }}</p>
                    <p>Valor: {{ produto.valorMassa.valor_massa }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>O seu carrinho está vazio.</p>
    {% endif %}
</body>
</html>
