{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIZZARIA DELÍCIAS</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sua-chave-de-integridade">
  </head>
  <body>
    
    <!-- Header -->
    <header>
      <div class="header-content">
        <nav>
          <p class="brand-logo"><strong>PIZZARIA DELÍCIAS</strong></p>
          <ul>
            
            <li><a href="#menu">Cardápio</a></li>
            

       <!--CARRINHO-->
              <a href="{% url 'carrinho' %}" class="cart-button">

              <i class="fas fa-shopping-cart fa-lg"></i>
         </a>

          </ul>
        </nav>
        <div class="header-block">
          <div class="header-text">
            <h2>SEJA BEM-VINDO</h2>
            <p>
              Nós vendemos pizzas e esfirras.
            </p>
          </div>
          <img src="{% static 'img/logo_bonna.png' %}" alt="Logo da Pizzaria" />
        </div>
      </div>
    </header>

    <!-- Menu Section -->
    <section class="menu" id="menu">
      <div class="menu-content">
        <div class="menu-title-wrapper">
          <p>Confira nossas opções!</p>
          <h3>Cardápio</h3>
        </div>
            <!-- busca  
        <div class="menu-filter">
          <input
            type="text"
            class="search-input"
            placeholder="O que deseja?"
          />
          <button class="search-button">Buscar</button>
        </div>
           -->
  <!-- MENU CARDS -->
<div class="menu-card-wrapper">
  <!-- Massas -->
  {% for produto in massas %}
    <div class="menu-card-item pizza ativo">
      {% if produto.imagem %}
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}" />
      {% else %}
        <img src="{% static 'img/pizza_calabresa.webp' %}" alt="{{ produto.nome_produto }}" />
      {% endif %}
      <div class="menu-card-content">
        <h3>{{ produto.nome_produto }}</h3>
        <p>
          {{ produto.descricao }}
          <br>
          {% if produto.valorMassa %}
            <span><b>{{ produto.valorMassa.valor_massa }}</b></span>
          {% endif %}
        </p>
        <button type="button" class="adicionar-ao-carrinho" data-produto-id="{{ produto.id }}">ADICIONAR!</button>
      </div>
    </div>
  {% endfor %}

  <!-- Esfihas -->
  {% for produto in esfihas %}
    <div class="menu-card-item pizza ativo">
      {% if produto.imagem %}
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}" />
      {% else %}
        <img src="{% static 'img/pizza_calabresa.webp' %}" alt="{{ produto.nome_produto }}" />
      {% endif %}
      <div class="menu-card-content">
        <h3>{{ produto.nome_produto }}</h3>
        <p>
          {{ produto.descricao }}
          <br>
          <span><b>{{ produto.valor_esfihas }}</b></span>

        </p>
        <button type="button" class="adicionar-ao-carrinho" data-produto-id="{{ produto.id }}">ADICIONAR!</button>      </div>
    </div>
  {% endfor %}



  {% for produto in pizza %}
  <div class="menu-card-item pizza ativo">
    {% if produto.imagem %}
      <img src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}" />
    {% else %}
      <img src="{% static 'img/pizza_calabresa.webp' %}" alt="{{ produto.nome_produto }}" />
    {% endif %}
    <div class="menu-card-content">
      <h3>{{ produto.nome_produto }}</h3>
      <p>
        {{ produto.descricao }}
        <br>
          <span><b>{{ produto.valorPizza.valor }}</b></span>

      </p>
      <button type="button" class="adicionar-ao-carrinho" data-produto-id="{{ produto.id }}">ADICIONAR!</button>    </div>
  </div>
{% endfor %}
</div>


          <!-- Repetir estrutura acima para mais itens do cardápio se necessário -->

        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="footer-main cartoon">
          <div class="footer-content">
              <div class="footer-company cartoon">
                  <h4>Empresa</h4>
                  <h6>Sobre Nós</h6>
                  <h6>Contato</h6>
              </div>
              <div class="footer-contact-info cartoon">
                  <h4>Entre em Contato</h4>
                  <h6>*Numero de telefone*</h6>
                  <h6>*EMAIL*</h6>
                  <h6>*ENDEREÇO*</h6>
              </div>
              <div class="footer-social cartoon">
                  <h4>Conecte-se Conosco</h4>
                  <div class="social-icons">

                      <img src"img/instagram.png" alt="Instagram" />
                      <img src="img/facebook.png" alt="Facebook" />
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-last cartoon">Desenvolvido Por @Mathe0610</div>
  </footer>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Encontrar todos os botões de "ADICIONAR AO CARRINHO"
      var botoesAdicionarCarrinho = document.querySelectorAll('.adicionar-ao-carrinho');
  
      // Adicionar um ouvinte de eventos a cada botão
      botoesAdicionarCarrinho.forEach(function (botao) {
        botao.addEventListener('click', function () {
          // Obter o ID do produto do atributo data-produto-id
          var produtoId = botao.getAttribute('data-produto-id');
  
          // Aqui, você pode fazer o que for necessário para adicionar o produto ao carrinho
          // Por exemplo, pode enviar uma solicitação AJAX para o servidor ou usar localStorage
  
          // Exemplo de uso do localStorage:
          // Verificar se o localStorage é suportado pelo navegador
          if (typeof Storage !== 'undefined') {
            // Obter o carrinho do localStorage (se existir) ou inicializar um novo array
            var carrinho = JSON.parse(localStorage.getItem('carrinho')) || [];
  
            // Adicionar o ID do produto ao carrinho
            carrinho.push(produtoId);
  
            // Armazenar o carrinho atualizado de volta no localStorage
            localStorage.setItem('carrinho', JSON.stringify(carrinho));
  
            // Feedback ao usuário (você pode personalizar isso de acordo com suas necessidades)
            alert('Produto adicionado ao carrinho!');
          } else {
            // Se o localStorage não for suportado, forneça uma mensagem de erro ou use uma abordagem alternativa
            console.error('LocalStorage não suportado. Não é possível adicionar ao carrinho.');
          }
        });
      });
    });
  </script>
  
  <script src="script.js"></script>
</html>
